{{- if ne .chezmoi.os "linux" }}
.chezmoiscripts/010_linux/*

{{-   if not (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
.config/shell/wslenv.sh
.chezmoiscripts/010_linux/run_once_012_wsl.sh.tmpl
config/wsl.conf
{{-   end }}
{{- end }}

{{- if ne .chezmoi.os "darwin" }}
.chezmoiscripts/020_mac/*

.config/shell/osxenv.sh
.config/shell/osxrc.sh
{{- end }}
