{{- if ne .chezmoi.os "linux" }}
.chezmoiscripts/010_linux/*

{{-   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
# not for WSL
.chezmoiscripts/010_linux/011_microsoft.sh
.chezmoiscripts/vscode_extensions.sh
{{-   else }}
.config/shell/wslenv.sh
.chezmoiscripts/010_linux/012_wsl.sh
config/wsl.conf
{{-   end }}

{{- end }}

{{- if ne .chezmoi.os "darwin" }}
# only for Mac OS X
.chezmoiscripts/020_mac/*

.config/shell/osxenv.sh
.config/shell/osxrc.sh
{{- end }}

{{- if ne .chezmoi.username "applejxd" }}
# only for personal use
.chezmoiscripts/021_nodejs.sh
.chezmoiscripts/fetch_spacemacs.sh
.claude.json

.config/chezmoi/key.txt
{{- end }}

{{- if not (stat (joinPath .chezmoi.homeDir ".config/chezmoi/key.txt")) }}
# needs key.txt to decrypt (need to run apply twice)
.claude.json
{{- end }}
