#!/bin/zsh
# .zshenv>.zprofile>.zshrc>.zlogin

# Emacs mode
bindkey -e

if [[ -e "${HOME}/.local/bin/mise" ]]; then
    eval "$("${HOME}/.local/bin/mise" activate zsh)"
fi

#--------#
# common #
#--------#

SHELL_CONF=$HOME/.config/shell
if [ -e $COMMON_RC ]; then
    # loads z.sh
    source $SHELL_CONF/shellrc.sh
fi

#-------------#
# Activations #
#-------------#

# activate all initially to prevent unexpected uninitialized caes

if command -v "fzf" >/dev/null 2>&1; then
    eval "$(fzf --zsh)"
    # common setting
    COMMON_FZF="${HOME}/.config/shell/fzf.sh"
    [ -e $COMMON_FZF ] && source $COMMON_FZF
fi

if [[ -e /usr/local/Modules/init ]]; then
    source /usr/local/Modules/init/zsh
fi

if [[ -e /opt/ros ]]; then
    ros_dir=$(find /opt/ros -mindepth 1 -maxdepth 1 -type d | head -n 1)
    source "${ros_dir}/setup.zsh"
fi

# iTerm2 shell integration
[[ -f "${HOME}/.iterm2_shell_integration.zsh" ]] &&
    source "${HOME}/.iterm2_shell_integration.zsh"

# # for Cline
# # see https://github.com/cline/cline/wiki/Troubleshooting-%E2%80%90-Shell-Integration-Unavailable#still-having-trouble
# [[ "$TERM_PROGRAM" == "vscode" ]] && . "$(code --locate-shell-integration-path zsh)"

#----------------#
# Plugin manager #
#----------------#

# Added by Zinit's installer
if [[ ! -f $HOME/.zinit/bin/zinit.zsh ]]; then
    print -P "%F{33}▓▒░ %F{220}Installing DHARMA Initiative Plugin Manager (zdharma/zinit)…%f"
    command mkdir -p "$HOME/.zinit" && command chmod g-rwX "$HOME/.zinit"
    command git clone https://github.com/zdharma-continuum/zinit "$HOME/.zinit/bin" && \
        print -P "%F{33}▓▒░ %F{34}Installation successful.%f%b" || \
        print -P "%F{160}▓▒░ The clone has failed.%f%b"
fi

# shellcheck source=/dev/null
source "$HOME/.zinit/bin/zinit.zsh"
autoload -Uz _zinit
(( ${+_comps} )) && _comps[zinit]=_zinit
# End of Zinit's installer chunk

#------------#
# completion #
#------------#

# based on https://zenn.dev/i9wa4/articles/2026-01-01-zsh-startup-optimization-zinit
# 依存順の調整: mise, zeno はプロンプトや fzf の表示崩れを防ぐため同期ロードに戻す
# compinit などの重い処理のみ遅延ロードする

# zeno.zsh (同期) - プロンプトの初期化に必要
zinit ice lucid depth"1" blockf
zinit light yuki-yano/zeno.zsh
source "$HOME/.config/shell/zeno.zsh"

# (0a) 補完定義 - compinit の前に fpath へ追加
zinit ice wait'0a' lucid
zinit light zsh-users/zsh-completions

# (0a) mise 補完 - fpath へ追加 (compinit より前に必要)
if [[ -f ~/.local/share/zsh/site-functions/_mise ]]; then
    zinit ice wait'0a' lucid as"completion"
    zinit snippet ~/.local/share/zsh/site-functions/_mise
fi

# (0b) compinit - 補完の基盤 (650msかかるため遅延)
zinit ice wait'0b' lucid \
    atload'zicompinit; zicdreplay'
zinit light zdharma-continuum/null

# (0c) fzf-tab (必ず autosuggestions / fast-syntax-highlighting の前に読み込む)
zinit ice wait'0c' lucid
zinit light Aloxaf/fzf-tab

# (0d) ハイライト系
zinit ice wait'0d' lucid
zinit light zsh-users/zsh-autosuggestions
zinit ice wait'0d' lucid
zinit light zdharma-continuum/fast-syntax-highlighting

#---------------#
# other plugins #
#---------------#

# git
zinit ice wait'0e' lucid pick"lib/git.zsh"
zinit light ohmyzsh/ohmyzsh

#------#
# pure #
#------#

zinit ice compile'(pure|async).zsh' pick'async.zsh' src'pure.zsh'
zinit light sindresorhus/pure

#--------#
# docker #
#--------#

zinit ice wait'0e' lucid
zinit light felixr/docker-zsh-completion

zinit ice wait'0e' lucid pick"docker-fzf.zsh"
zinit load mnowotnik/docker-fzf-completion

zinit ice wait'0e' lucid pick'docker-fzf'
zinit load MartinRamm/fzf-docker

zinit ice wait'0e' lucid as"program" pick"dfimage.bash"
zinit load RyodoTanaka/.bash_extend

#-----------------#
# OS dependencies #
#-----------------#

zle -N switch-arch

#------------#
# zsh proper #
#------------#

# cd completion
# see https://qiita.com/yaotti/items/157ff0a46736ec793a91
setopt auto_cd
cdpath=(.. ~)
function chpwd() {
    if command -v "lsd" >/dev/null 2>&1; then
        lsd
    else
        ls
    fi
}

# for glob expression
# see https://qiita.com/nisaji/items/f9eede2164a74bc08db7
setopt +o nomatch

# auto pushd & no history
setopt auto_pushd
setopt pushd_ignore_dups

# fg -> C-z
zle -N fancy-ctrl-z
bindkey '^Z' fancy-ctrl-z

#-------------#
# zsh history #
#-------------#

# see https://yk5656.hatenadiary.org/entry/20160203/1461325853

export HISTFILE=$HOME/.zsh_history

export HISTSIZE=100000
export SAVEHIST=100000

setopt share_history

setopt hist_ignore_dups
setopt hist_ignore_all_dups
setopt hist_find_no_dups

setopt hist_save_no_dups
setopt hist_reduce_blanks
setopt hist_ignore_space

#--------------#
# suffix alias #
#--------------#

# texts
if command -v "bat" >/dev/null 2>&1; then
    alias -s {txt,dat,plt}='bat'
else; 
    alias -s {txt,dat,plt}='cat'
fi

{{- if eq .chezmoi.os "darwin" }}
# images
alias -s {pdf,jpg,jpeg,png,bmp,gif}='open -a Preview'
{{- end }}

# scripts
alias -s sh='bash'
alias -s py='python'
alias -s rb='ruby'
alias -s php='php -f'
alias -s hs='runhaskell'

# unarchive
# see https://qiita.com/matsu_chara/items/8372616f52934c657214
if command -v "aunpack" >/dev/null 2>&1; then
    alias -s {gz,tgz,zip,lzh,bz2,tbz,Z,tar,arj,xz}=aunpack
else
    alias -s {gz,tgz,zip,lzh,bz2,tbz,Z,tar,arj,xz}=extract
fi

# compile
# see https://qiita.com/matsu_chara/items/8372616f52934c657214

alias -s {c,cc,cpp}='runcpp'

# fg -> C-z
function fancy-ctrl-z() {
    if [[ $#BUFFER -eq 0 ]]; then
        BUFFER="fg"
        # Finish editing the buffer
        zle accept-line
    else
        # Push onto the buffer stack & Return to prompt
        zle push-input
        # Clear the screen
        zle clear-screen
    fi
}

#-----#
# fzf #
#-----#

# z-fzf, emacs-like key-bindings
# see https://github.com/junegunn/fzf/wiki/examples#z
if command -v "_z" >/dev/null 2>&1; then
    function z-fzf() {
        local selected_dir=$(_z -l 2>&1 | fzf +s --tac | sed 's/^[0-9,.]* *//')
        if [[ -n "$selected_dir" ]]; then
            BUFFER="cd ${selected_dir}"
            zle accept-line
        fi
        zle reset-prompt
    }
    zle -N z-fzf
    bindkey "^X^F" z-fzf
fi

# ghq-fzf
# see https://blog.tsub.me/post/move-from-peco-to-fzf/
if command -v "ghq" >/dev/null 2>&1; then
    function ghq-fzf() {
        local selected_dir=$(ghq list | fzf --query="$LBUFFER")
        if [[ -n "$selected_dir" ]]; then
            BUFFER="cd $(ghq root)/${selected_dir}"
            zle accept-line
        fi
        zle reset-prompt
    }
    zle -N ghq-fzf
    bindkey "^X^G" ghq-fzf
fi
