[init]
	defaultBranch = main
[credential]
	helper = cache

[core]
	editor = vim
	quotepath = false
	# set case-sensitivity according to OS
	# (Windows filesystems are usually case-insensitive)
{{- if eq .chezmoi.os "windows" }}
	ignorecase = true
	autocrlf = true
{{- else }}
	ignorecase = false
	autocrlf = input
{{- end }}

[ghq]
	root = {{ .chezmoi.destDir }}/src
[gitflow "branch"]
	master = main
[url "github:"]
	pushInsteadOf = https://github.com/

# for overwriting by local config
[include]
	path = {{ .chezmoi.destDir }}/.config/git/config

{{- if eq .chezmoi.username "applejxd" }}
{{- with (bitwarden "item" "gitconfig") }}
[user]
	name = {{ .login.username }}
	{{- with (bitwardenFields "item" "gitconfig") }}
	email = {{ .email.value }}
	{{- end }}
{{- end }}
{{- end }}
