[init]
	defaultBranch = main
[credential]
{{- if eq .chezmoi.os "windows" }}
	helper = wincred
{{- else if eq .chezmoi.os "darwin" }}
	helper = osxkeychain
{{- else }}
	helper = store
{{- end }}

# gh auth setup-git configuration for GitHub CLI
[credential "https://github.com"]
	helper =
	helper = !gh auth git-credential

[credential "https://gist.github.com"]
	helper =
	helper = !gh auth git-credential

[core]
	editor = vim
	quotepath = false
	# ~/.config/git/ignore (chezmoi管理) をグローバルgitignoreとして有効化
	excludesfile = {{ .chezmoi.destDir }}/.config/git/ignore
	# set case-sensitivity according to OS
	# (Windows filesystems are usually case-insensitive)
{{- if eq .chezmoi.os "windows" }}
	ignorecase = true
	autocrlf = true
{{- else }}
	ignorecase = false
	autocrlf = input
{{- end }}

[pull]
	# merge
    rebase = false

[ghq]
	root = {{ .chezmoi.destDir }}/src
[gitflow "branch"]
	master = main

# for overwriting by local config
[include]
	path = {{ .chezmoi.destDir }}/.config/git/config

# [user] (name/email) は Bitwarden 由来のため専用ファイルに分離している。
# see home/dot_config/git/private_user.tmpl
[include]
	path = {{ .chezmoi.destDir }}/.config/git/user
