# run again: `chezmoi state delete-bucket --bucket=scriptState`
# see https://www.chezmoi.io/user-guide/use-scripts-to-perform-actions/#clear-the-state-of-all-run_onchange_-and-run_once_-scripts
#!/bin/bash
set -eu

{{- if eq .chezmoi.os "linux" }}
# Ubuntu setup
if [[ -e /etc/lsb-release ]]; then
    ubuntu_script="{{ .chezmoi.workingTree }}/installer/ubuntu/ubuntu.sh"
    if [[ -f "$ubuntu_script" ]]; then
        bash -i "$ubuntu_script"
    else
        echo "Ubuntu installer script not found at $ubuntu_script"
        exit 1
    fi
fi
{{- else if eq .chezmoi.os "darwin" }}
# macOS setup
osx_script="{{ .chezmoi.workingTree }}/installer/osx/osx.sh.tmpl"
if [[ -f "$osx_script" ]]; then
    bash -i "$osx_script"
else
    echo "macOS installer script not found at $osx_script"
    exit 1
fi
{{- end }}
