#!/bin/bash

# Default editor
export EDITOR=vim

# for Open3D visualizer
export LIBGL_ALWAYS_INDIRECT=0

#-----------#
# Japanese #
#-----------#

export LC_ALL=ja_JP.UTF-8
export LANG=ja_JP.UTF-8

#-----------------#
# OS dependencies #
#-----------------#

{{ if eq .chezmoi.os "darwin" }}
# macOS
# shellcheck source=/dev/null
source "${HOME}/.config/shell/osxenv.sh"
{{ end }}

{{ if eq .chezmoi.os "linux" }}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
# WSL
# shellcheck source=/dev/null
source "${HOME}/.config/shell/wslenv.sh"
{{   end }}
# for x11 forwarding of chromium
# from https://qiita.com/kairi003/items/003c4a615317049e5b85
export XAUTHORITY="${HOME}/.Xauthority"
{{ end }}

#---------------#
# Specific root #
#---------------#

# ghq root
export GHQ_ROOT="${HOME}/src"

#------#
# PATH #
#------#

{{ if eq .chezmoi.os "linux" }}
# for snap
if [[ -d "/snap/bin" ]]; then
    export PATH="/snap/bin:${PATH}"
fi
{{ end }}

# for original binaries
export PATH="${HOME}/bin:${PATH}"

# for CUDA
if [[ -e "/usr/local/cuda" ]]; then
    export PATH="/usr/local/cuda/bin:${PATH}"
    export LD_LIBRARY_PATH="/usr/local/cuda/lib64${LD_LIBRARY_PATH:+:${LD_LIBRARY_PATH}}"
fi

# for Go lang
if [[ -e "${HOME}/.go" ]]; then
    export GOPATH="${HOME}/.go"
    export PATH="${PATH}:${GOPATH}/bin"
fi

# for Haskell package Cabal
if [[ -e "${HOME}/.cabal" ]]; then
    export PATH="${HOME}/.cabal/bin:${PATH}"
fi

{{ if eq .chezmoi.os "linux" }}
# for TeX Live (local)
if [ -d "${HOME}/.texlive" ]; then
    export PATH="${HOME}/.texlive/main/bin/x86_64-linux:${PATH}"
    export MANPATH="${HOME}/.texlive/main/texmf-dist/doc/man${MANPATH:+:${MANPATH}}"
    export INFOPATH="${HOME}/.texlive/main/texmf-dist/doc/info${INFOPATH:+:${INFOPATH}}"
fi
{{ end }}

#---------------#
# User settings #
#---------------#

if [[ -f "${HOME}/.config/shell/usrenv.sh" ]]; then
    # shellcheck source=/dev/null
    source "${HOME}/.config/shell/usrenv.sh"
fi
