#!/bin/bash

set -euo pipefail

sudo -v

# Refresh
echo "Ubuntu パッケージを更新します..."
sudo apt-get update && sudo apt-get upgrade -y
echo "✅ 完了：Ubuntu パッケージを更新しました"

#--------#
# config #
#--------#

# Known folders
echo "既知のフォルダを整理します..."
LANG=C xdg-user-dirs-update --force
rm -rf デスクトップ ダウンロード テンプレート 公開 ドキュメント ミュージック ピクチャ ビデオ
echo "✅ 完了：既知のフォルダを整理しました"

# Basics
echo "基本的なツールをインストール/更新します..."
sudo apt-get install -y \
    wget curl vim neovim git unzip tree tig \
    tmux python3-tmuxp python3-tomlkit manpages-ja xsel xdg-utils \
    i3 rofi polybar lxappearance

# monitoring resource usage
if [[ ! -d "$HOME/.cargo/bin/zenith" ]]; then
    cargo install --features nvidia --git https://github.com/bvaisvil/zenith.git
    source $HOME/.cargo/env
fi

# install GitHub CLI
if ! command -v gh &> /dev/null; then
    (type -p wget >/dev/null || (sudo apt update && sudo apt install wget -y)) \
        && sudo mkdir -p -m 755 /etc/apt/keyrings \
        && out=$(mktemp) && wget -nv -O$out https://cli.github.com/packages/githubcli-archive-keyring.gpg \
        && cat $out | sudo tee /etc/apt/keyrings/githubcli-archive-keyring.gpg > /dev/null \
        && sudo chmod go+r /etc/apt/keyrings/githubcli-archive-keyring.gpg \
        && sudo mkdir -p -m 755 /etc/apt/sources.list.d \
        && echo "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/githubcli-archive-keyring.gpg] https://cli.github.com/packages stable main" | sudo tee /etc/apt/sources.list.d/github-cli.list > /dev/null \
        && sudo apt update \
        && sudo apt install gh -y
fi

# use gtk instead of gnome for GUI in i3wm
# see https://www.simple-web-system.work/entry/2023/09/02/012031
echo "i3wm で GUI アプリケーションを使うための設定を行います..."
systemctl --user mask xdg-desktop-portal-gnome

echo "✅ 完了：基本的なツールをインストール/更新しました"

{{- if eq .chezmoi.os "linux" }}
{{-   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
echo "ユーティリティツールをインストール/更新します..."
sudo apt-get install -y imagemagick ffmpeg
echo "✅ 完了：ユーティリティツールをインストール/更新しました"
{{-   end }}
{{- end }}

{{- if eq .chezmoi.username "applejxd" }}
echo "ClamAV をインストール/更新します..."

echo "Installing security tools..." >&2
sudo apt-get -y install clamav clamav-daemon
sudo systemctl stop clamav-freshclam
sudo freshclam
sudo systemctl start clamav-daemon.service
sudo systemctl start clamav-freshclam.service

echo "✅ 完了：ClamAV をインストール/更新しました"
{{- end }}
