#!/usr/bin/env bash

set -euo pipefail

sudo -v

echo "mise をインストール/更新します..."

# Install mise if not present
if [[ ! -e "${HOME}/.local/bin/mise" ]]; then
    curl https://mise.run | sh
fi
# Temporary activation for current script session
eval "$("${HOME}/.local/bin/mise" activate --shims)"

echo "mise をインストール/更新しました"

echo "開発ツールをインストール/更新します..."

# Python
if ! type python >/dev/null 2>&1; then
    echo "Python が見つかりません。Python のビルドに必要なパッケージをインストールします..."

    # see https://github.com/pyenv/pyenv/wiki#suggested-build-environment
    sudo apt-get install -y \
        build-essential libssl-dev zlib1g-dev \
        libbz2-dev libreadline-dev libsqlite3-dev curl git \
        libncursesw5-dev xz-utils tk-dev libxml2-dev libxmlsec1-dev libffi-dev liblzma-dev
fi

mise self-update
mise install

echo "✅ 完了：開発ツールをインストール/更新しました"
