# see below for documentation
# https://mise.jdx.dev/configuration.html

[tools]
# CLI
fzf = "0.53.0"  # to prevent bug
ghq = "latest"
bat = "latest"
eza = "latest"
jj ="latest"
ripgrep = "latest"

# TUI
lazygit = "latest"
yazi = "latest"

# dev
shellcheck = "latest"
hadolint = "latest"
python = "latest"
uv = "latest"
deno = "latest"

# backends
rust = "latest"
go = "latest"

# others
chezmoi = "latest"

# see https://mise.jdx.dev/dev-tools/backends/go.html
"go:github.com/d-kuro/gwq/cmd/gwq" = "latest"

# see https://mise.jdx.dev/dev-tools/backends/cargo.html
{{- if eq .chezmoi.arch "amd64" }}
"cargo:https://github.com/bvaisvil/zenith.git" = { version = "branch:master", features = "nvidia" }
{{- else if eq .chezmoi.arch "arm64" }}
"cargo:https://github.com/bvaisvil/zenith.git" = { version = "branch:master"}
{{- end }}

{{- if eq .chezmoi.username "applejxd" }}
yt-dlp = "latest"
{{- end }}

[settings]
# for Tkinter (prebuild binaries doesn't contain GUI modules)
# see https://www.python.jp/install/ubuntu/index.html
python_compile = true
# for task runner
experimental = true
